body {
    background-color: rgb(190, 76, 95);
    color: white;
    text-align: center;
    
}

.madison {
    height: 350px;
    width: 520px;
    border-radius: 5%;
}

.btn-custom {
 color:rgb(190, 76, 95);
 background: rgb(173, 162, 162);
 border-radius: 24px;
}

.card-text {
    color:rgb(94, 39, 48);
    font-style: italic;
    font-size: 18px;
}

.card-title {
    color:rgb(94, 39, 48);
}

th {
    font-size: 28px;
    font-weight: bolder;
    color: white;
}

td {
    font-size: 36px;
    font-weight: lighter;
    color:rgb(223, 165, 175)
}

footer {
    background-color: rgb(94, 39, 48);
}

.logo {
    height: 100px;
    width: 100px;
}